<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./help/css/common.css" />
    <link rel="stylesheet" href="./help/css/qa.css" />
    <link id="font-stylesheet" rel="stylesheet" href="./help/css/font.css">
    <link rel="stylesheet" href="./help/css/keyword.css">
    <style>
        @-moz-document url-prefix() {
            @font-face {
                font-family: '-webkit-standard';
                src: url('nintendo_udsg-r_std_003.ttf');
            }
        }

        body {
            background: none;
        }

        /* Overwrite padding from keyword stuff. */
        .l-main-content {
            padding: 0px 0px 0px;
        }

        /* Somehow isn't getting passed through from default css. */
        .ret-icon-shadow {
            position: absolute;
            z-index: -1;
            top: 3px;
            left: 2px;
            display: inline-block;
            width: 58px;
            height: 58px;
            opacity: 0;
            transition: opacity 0.2s ease;
        }
    </style>
</head>

<body>
    <script src="./help/js/jquery-3.3.1.min.js"></script>
    <script src="./help/common/js/wsnd.min.js"></script>
    <script src="./help/common/js/keyhelp.js"></script>
    <script src="./help/js/common.js"></script>
    <script src="./help/js/qa.js"></script>

    <div class="l-header">
        <div class="l-header-title">
            <div class="header-title f-u-bold"><span data-msgcom="true" data-msgid="textbox_id-10020">Ultimate Training
                    Modpack Menu</span></div>
        </div>
        <div class="header">
            <a id="ret-button" tabindex="-1" class="header-decoration" href="javascript:goBackHook();"
                nx-se-disabled="">
                <div class="ret-icon-wrapper">
                    <img class="ret-icon-shadow is-appear" ref="./help/img/icon/m_retnormal.svg"
                        src="./help/img/icon/m_retnormal.svg">
                    <img class="ret-icon is-appear" ref="./help/img/icon/m_retnormal.svg"
                        src="./help/img/icon/m_retnormal.svg">
                </div>
            </a>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

    <!-- 
    Script the part below via templating. Overall structure is perhaps
    [
        l-qa qa [id=qa-{{menuName}} tabindex="{{index}}"] {
            // make question for {{menuName}}
            // make answer with l-grid : l-item list for options
        },
        ...
    ]


    Remember to set make max keyword size greater than 23!
    -->
    <div class="l-qa">
        <a id="qa-waza" class="qa" tabindex="0" href="javascript:void(0);" onfocus="focusQA(this)"
            onblur="defocusQA(this)" onclick="openAnswer(this)" nx-se-disabled="">
            <div class="question-outer">
                <div class="question-border">
                    <div id="question-waza" class="question scuffle-thema">
                        <img class="question-icon" ref="./help/img/icon/juji.svg" />
                        <p class="question-message f-u-bold"><span data-msgid="textbox_id-7">Shield Toggles</span></p>
                    </div>
                </div>
            </div>
            <div id="answer-border-waza" class="answer-border-outer is-hidden">
                <div class="l-main">
                    <ul class="l-grid" id="ShieldToggles">
                        <li class="l-item">
                            <div class="keyword-button-outer"> <a tabindex="1"
                                    class="flex-button keyword-button scuffle-thema" href="javascript:void(0)"
                                    ref="./qa.html#senjyouka" onclick="clickToggle(this);" onfocus="focusKeyword(this)"
                                    onblur="defocusKeyword(this)" nx-se-disabled="">
                                    <div class="button-icon-wrapper"> <img class="button-icon is-appear"
                                            ref="./help/img/icon/senjyouka.svg" src="./help/img/icon/senjyouka.svg">
                                    </div>
                                    <div class="button-msg-wrapper">
                                        <div class="keyword-message f-u-bold">Infinite</div>
                                    </div>
                                </a> </div>
                        </li>
                        <li class="l-item">
                            <div class="keyword-button-outer"> <a tabindex="2"
                                    class="flex-button keyword-button scuffle-thema" href="javascript:void(0)"
                                    ref="./qa.html#shutenka" onclick="selectKeyword(this);switchPage(this);"
                                    onfocus="focusKeyword(this)" onblur="defocusKeyword(this)" nx-se-disabled="">
                                    <div class="button-icon-wrapper"> <img class="button-icon is-appear"
                                            ref="./help/img/icon/shutenka.svg" src="./help/img/icon/shutenka.svg">
                                    </div>
                                    <div class="button-msg-wrapper">
                                        <div class="keyword-message f-u-bold"><span
                                                data-msgid="textbox_id-2">Hold</span>
                                        </div>
                                    </div>
                                </a> </div>
                        </li>
                        <li class="l-item">
                            <div class="keyword-button-outer"> <a tabindex="3"
                                    class="flex-button keyword-button scuffle-thema" href="javascript:void(0)"
                                    ref="./detail_dantaisen.html" onclick="selectKeyword(this);switchPage(this);"
                                    onfocus="focusKeyword(this)" onblur="defocusKeyword(this)" nx-se-disabled="">
                                    <div class="button-icon-wrapper"> <img class="button-icon is-appear"
                                            ref="./help/img/icon/dantaisen.svg" src="./help/img/icon/dantaisen.svg">
                                    </div>
                                    <div class="button-msg-wrapper">
                                        <div class="keyword-message f-u-bold"><span data-msgcom="true"
                                                data-msgid="textbox_id-10021">None</span></div>
                                    </div>
                                </a> </div>
                        </li>
                    </ul>
                </div>
                </p>
            </div>
    </div>
    <div class="l-qa">
        <a id="qa-waza2" class="qa" tabindex="4" href="javascript:void(0);" onfocus="focusQA(this)"
            onblur="defocusQA(this)" onclick="openAnswer(this)" nx-se-disabled="">
            <div class="question-outer">
                <div class="question-border">
                    <div id="question-waza2" class="question scuffle-thema">
                        <img class="question-icon" ref="./help/img/icon/juji.svg" />
                        <p class="question-message f-u-bold"><span data-msgid="textbox_id-7">Shield Toggles 2</span></p>
                    </div>
                </div>
            </div>
            <div id="answer-border-waza2" class="answer-border-outer is-hidden">
                <div class="l-main">
                    <ul class="l-grid" id="ShieldToggles2">
                        <li class="l-item">
                            <div class="keyword-button-outer"> <a tabindex="5"
                                    class="flex-button keyword-button scuffle-thema" href="javascript:void(0)"
                                    ref="./qa.html#senjyouka" onclick="selectKeyword(this);switchPage(this);"
                                    onfocus="focusKeyword(this)" onblur="defocusKeyword(this)" nx-se-disabled="">
                                    <div class="button-icon-wrapper"> <img class="button-icon is-appear"
                                            ref="./help/img/icon/senjyouka.svg" src="./help/img/icon/senjyouka.svg">
                                    </div>
                                    <div class="button-msg-wrapper">
                                        <div class="keyword-message f-u-bold"><span data-msgid="textbox_id-3">Infinite
                                            </span></div>
                                    </div>
                                </a> </div>
                        </li>
                        <li class="l-item">
                            <div class="keyword-button-outer"> <a tabindex="6"
                                    class="flex-button keyword-button scuffle-thema" href="javascript:void(0)"
                                    ref="./qa.html#shutenka" onclick="selectKeyword(this);switchPage(this);"
                                    onfocus="focusKeyword(this)" onblur="defocusKeyword(this)" nx-se-disabled="">
                                    <div class="button-icon-wrapper"> <img class="button-icon is-appear"
                                            ref="./help/img/icon/shutenka.svg" src="./help/img/icon/shutenka.svg">
                                    </div>
                                    <div class="button-msg-wrapper">
                                        <div class="keyword-message f-u-bold"><span
                                                data-msgid="textbox_id-2">Hold</span>
                                        </div>
                                    </div>
                                </a> </div>
                        </li>
                        <li class="l-item">
                            <div class="keyword-button-outer"> <a tabindex="7"
                                    class="flex-button keyword-button scuffle-thema" href="javascript:void(0)"
                                    ref="./detail_dantaisen.html" onclick="selectKeyword(this);switchPage(this);"
                                    onfocus="focusKeyword(this)" onblur="defocusKeyword(this)" nx-se-disabled="">
                                    <div class="button-icon-wrapper"> <img class="button-icon is-appear"
                                            ref="./help/img/icon/dantaisen.svg" src="./help/img/icon/dantaisen.svg">
                                    </div>
                                    <div class="button-msg-wrapper">
                                        <div class="keyword-message f-u-bold"><span data-msgcom="true"
                                                data-msgid="textbox_id-10021">None</span></div>
                                    </div>
                                </a> </div>
                        </li>
                    </ul>
                </div>
                </p>
            </div>
    </div>
    <script>
        if (isNx) {
            window.nx.footer.setAssign('B', '', goBackHook, {
                se: ''
            })
        }
        function goBackHook() {
            // Use this function to check menu settings on exit, return through localhost

            $('.is-focused').addClass('is-pause-anim')
            $('#ret-button').addClass('is-focus')

            disabledOtherLink()

            playSound('cancel')

            fadeOutPage(function () {
                window.history.back()
            })

            location.href = "http://localhost/test";
        }

        function clickToggle(e) {
            var toggleImage = e.children[0];
            if (toggleImage.innerHTML.includes("is-appear")) {
                toggleImage.innerHTML = toggleImage.innerHTML.replace("is-appear", "is-hidden");
            } else {
                toggleImage.innerHTML = toggleImage.innerHTML.replace("is-hidden", "is-appear");
            }
        }
    </script>
</body>

</html>