<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Modpack Menu</title>
    <link rel="stylesheet" href="./css/training_modpack.css" />
</head>

<body>
    <script defer src="./js/training_modpack.js"></script>
    <div class="l-header">
        <a id="ret-button" tabindex="-1" class="return-icon-container" href="javascript:goBackHook();">
                <img class="return-icon" src="./img/m_retnormal.svg">
        </a>
        <p class="header-title">Ultimate Training Modpack Menu</p>
        <div class="header-label">
            <p class="header-desc">Reset Current Menu: &#xE0A2;</p>
            <p class="header-desc">Reset All Menus: &#xE0A4;</p>
            <p class="header-desc">Save Defaults: &#xE0A5;</p>
        </div>
    </div>
    <div class="tab-list-container">
        <p>Prev Tab: &#xE0A6;</p>
        <div class="tab-list">
            {{#tabs}}
            <button class="tab-button active" id="{{tab_id}}_button" onclick="openTab(this)" tabindex="-1">{{tab_title}}</button>
            {{/tabs}}
        </div>
        <p>Next Tab: &#xE0A7;</p>
    </div>
    <div class="tab-content-container">
        {{#tabs}}
        <div id="{{tab_id}}_tab" class="tab-content">
            {{#tab_submenus}}
            <div class="menu-item" id="{{submenu_id}}">
                <button class="menu-button" onfocus="setHelpText('{{help_text}}')" onclick="openItem(this)">
                    <div class="menu-icon"><img src="./img/{{submenu_id}}.svg" /></div>
                    <p>{{submenu_title}}</p>
                </button>
                <div class="hide modal{{#is_single_option}} single-option{{/is_single_option}}">
                    {{#toggles}}
                    <button class="menu-button" onclick="toggleOption(this)">
                        <div class="menu-icon"><img class="hide" src="./img/check.svg" data-val="{{toggle_value}}"/></div>
                        <p>{{toggle_title}}</p>
                    </button>
                    {{/toggles}}
                </div>
            </div>
            {{/tab_submenus}}
        </div>
        {{/tabs}}
    </div>
    <footer id="footer" class="footer">
        <p id="help-text" class="header-desc"></p>
    </footer>
</body>
</html>
