@-moz-document url-prefix() {
    @font-face {
        font-family: "nintendo_udsgr_std_003";
        src: url("../fonts/nintendo_udsgr_std_003.ttf");
    }

    @font-face {
        font-family: "nintendo_ext_003";
        src: url("../fonts/nintendo_ext_003.ttf");
    }
}

@keyframes background-slide {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 422.4px;
    }
}

.tab-list-container {
    overflow: hidden;
    background-color: #555;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
}

.tab-list-container p {
    color: #fff;
    width: 130px;
    height: fit-content;
    margin: 0px 10px 0px 10px;
    padding: 0px;
}


.tab-list {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.tab-list button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    color: #fff;
    margin: 5px 0px 0px 8px;
    border-radius: 8px 8px 0px 0px;
    font-size: large;
}

.tab-list button:hover {
    background: #797979;
}

.tab-list button.active {
    color: #000;
    background: #ccc;
}

.tab-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

body {
    background: none;
    font-family: "nintendo_ext_003", "nintendo_udsgr_std_003";
    margin: 0;
}

/* Overwrite padding from keyword stuff. */
.l-main-content {
    padding: 0px 0px 0px;
}

/* Handle alignment of items in the header */
.l-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    height: 80px;
    z-index: 100;
    background: #000;
    box-shadow: 0px 1px 1px #000;
}

.header-title {
    color: #f46264;
    font-size: 26px;
    line-height: 2.5;
    margin: 0px;
    padding: 0px;
    word-break: normal;
}

.header-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 15px;
}

.header-label > p {
    color: #fff;
    margin: 0;
    padding: 0;
}

.return-icon-container {
    width: 101px;
    height: 65px;
    padding-left: 21px;
    background: #a80114;
    border-radius: 0px 0px 15px 0px;
}

.return-icon {
    width: 58px;
    height: 58px;
    padding-left: 7px;
    filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.8));
}

/* Center Icons */
.question::before {
    width: 70px;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 73px;
    width: 100%;
    color: #fff;
    z-index: 100;
}

/* Save Defaults Container */
.defaults-checkbox-container {
    position: fixed;
    right: 50px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Checkbox element (hidden) */
#saveDefaults {
    position: absolute;
    left: -100vw;
}

.checkbox-display {
    margin: 10px 70px;
}

/* Displayed Checkbox (unchecked) */
.checkbox-display::after {
    content: "\E14C";
    color: white;
}

/* Displayed Checkbox (checked) */
#saveDefaults:checked~.checkbox-display::after {
    content: "\E14B";
}

.menu-item {
    /* Container div for menu link and menu list */
    width: 30%;
    margin: 6px;
}

.menu-button, .menu-item > div button {
    /* Item styling */
    background-color: #d9e4ea;
    border: solid black;
    border-width: 3px 20px 3px 3px;
    padding: 0px;
    box-shadow: 3px 3px 3px #18181880;
    display: flex;
    height: 60px;
    width: 100%;
    align-items: center;
    align-content: center;
    user-select: none;
}

.menu-item > div button {
    z-index: 1;
    width: 22%;
    margin: 4px 17px;
}

.modal p {
    font-size: 18px !important;
}

.menu-icon {
    background-color: black;
    flex-basis: auto;
    width: 60px;
    height: 48px;
    border: solid black;
    border-right-width: 5px;
}

.menu-icon img {
    width: 100%;
    height: 100%;
}

.menu-item p {
    font-size: 23px;
    color: #2b3940;
    width: 100%;
    margin: 10px 0px 0px 20px;
}

.hide {
    display: none !important;
}

.menu-item > div {
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: flex-start;
    align-content: flex-start;
    top: 80px;
    bottom: 73px;
    left: 0px;
    right: 0px;
    margin-top: 0px;
    background-color: rgba(100, 100, 100, 0.9);
}

:focus {
    background: rgb(255,70,2);
    background: linear-gradient(45deg, rgba(255,70,2,1) 20%, rgba(255,215,0,1) 46%, rgba(255,215,0,1) 54%, rgba(255,70,2,1) 80%); 
    background-size: 500% 100%;
    will-change: animation;
    animation: translate-anim 5s infinite linear;
}

:focus > p {
    color: #fff;
    text-shadow: -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000, 1px 1px 1px #000;
}

@keyframes translate-anim {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 100% 0%;
	}
}

