@-moz-document url-prefix() {
    @font-face {
        font-family: "nintendo_udsgr_std_003";
        src: url("../nintendo_udsgr_std_003.ttf");
    }

    @font-face {
        font-family: "nintendo_ext_003";
        src: url("../nintendo_ext_003.ttf");
    }
}

@keyframes background-slide {
    0% {
      background-position-x: 0px;
    }
  
    100% {
      background-position-x: 422.4px;
    }
  }
.answer-border-outer {
    margin-top: 5px;
}

.button-icon {
    height: 53px;
    margin-left: 4px;
    width: 53px;
}

.button-icon-wrapper {
    align-items: center;
    background: #000000;
    display: flex;
    height: 58px;
    margin-left: -1px;
    width: 80px;
}

.button-msg-wrapper {
    width: 259px;
}

.checkbox-display {
    margin: 10px 70px;
}

.checkbox-display::after {
    /* Displayed Checkbox (unchecked) */
    color: white;
    content: "\E14C";
}

.defaults-checkbox-container {
    /* Save Defaults Container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    position: fixed;
    right: 50px;
}

.flex-button {
    align-items: center;
    display: inline-flex;
    flex: 1;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}

.footer {
    align-items: center;
    background: #000000;
    display: flex;
    height: 73px;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.header {
    align-items: center;
    background: #000000;
    border-bottom: 7px solid #000000;
    display: flex;
    height: 65px;
}

.header-decoration {
    align-items: center;
    background: #a80114;
    display: inline-flex;
    height: 65px;
    padding-left: 21px;
    width: 101px;
}

.header-desc {
    color: white;
}

.header-title {
    color: #f46264;
    font-size: 26px;
    line-height: 2.5;
}

.is-appear {
    opacity: 1;
}

.is-focused .question-border::before {
    background: #000000;
    box-shadow: none;
}

.is-focused .question-message {
    color: #FFFFFF;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.is-focused .question.scuffle-thema {
    background: #df1624;
}

.is-focused .scuffle-thema {
    background: #df1624;
}

.is-hidden {
    display: none;
}

.is-opened .question {
    bottom: 11px;
}

.is-opened .question-border::before {
    background: #000000;
    bottom: 5px;
}

.is-opened .question-outer {
    height: 86px;
    width: 100%;
}

.keyword-button {
    background: #d9e4ea;
    border: solid 4px #2e3c45;
    box-shadow: 1px 1px 6px rgba(24, 24, 24, 0.6);
    box-sizing: border-box;
    height: 66px;
    justify-content: flex-start;
    position: relative;
    z-index: 0;
}

.keyword-button-outer {
    border: 5px solid transparent;
    will-change: transform;
}

.keyword-message {
    color: #2b3940;
    font-size: 22px;
    padding: 0px 5px;
}

.l-footer {
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.l-grid {
    display: flex;
    flex-wrap: wrap;
}

.l-header {
    box-shadow: 0px 1px 1px #000000;
    display: flex;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 100;
}

.l-header-title {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 1280px;
}

.l-item {
    margin: 0px 13px;
}

.l-main-content {
    /* Overwrite padding from keyword stuff. */
    padding: 0px 0px 0px;
}

.l-qa {
    /* Column size */
    flex-basis: 33%;
}

.l-qa:last-child .qa {
    /* Overwrite margin on the last child to avoid overlap with footer */
    margin-bottom: 75px;
}

.l-qa:last-child .qa.is-opened {
    margin-bottom: 0px;
}

.qa {
    display: block;
    will-change: scroll-position;
}

.is-focused {
    background: linear-gradient(90deg, rgb(255, 109, 0) 0%, rgb(255, 255, 0) 65%, rgb(255, 109, 0) 70%);
    will-change: animation;
    animation: background-slide 650ms linear infinite normal;
}

.question {
    align-items: center;
    background: #d9e4ea;
    bottom: 11px;
    display: flex;
    left: 11px;
    padding: 0px 30px 0px 94px;
    position: absolute;
    right: 28px;
    top: 11px;
}

.question-border::before {
    background: #2e3c45;
    bottom: 6px;
    box-shadow: 3px 3px 3px rgba(24, 24, 24, 0.5);
    content: '';
    left: 6px;
    position: absolute;
    right: 6px;
    top: 6px;
}

.question-icon {
    bottom: 0px;
    height: 60px;
    left: 2px;
    position: absolute;
    top: 2px;
    transition: opacity 0.2s ease;
    width: 60px;
}

.question-message {
    color: #2b3940;
    font-size: 23px;
    width: 100%;
    z-index: 0;
}

.question-message span {
    display: block;
    letter-spacing: normal;
}

.question-outer {
    height: 86px;
    position: relative;
}

.question::before {
    width: 70px;
    background: #000000;
    bottom: 0px;
    content: '';
    left: 0px;
    position: absolute;
    top: 0px;
}

.ret-icon {
    display: inline-block;
    height: 58px;
    transition: opacity 0.2s ease;
    width: 58px;
}

.ret-icon-wrapper {
    margin-left: -4px;
    position: relative;
    will-change: transform;
}

#saveDefaults {
    /* Checkbox element (hidden) */
    left: -100vw;
    position: absolute;
}

#saveDefaults:checked~.checkbox-display::after {
    /* Displayed Checkbox (checked) */
    content: "\E14B";
}

a {
    text-decoration: none;
}

body {
    background: none;
    width: 1280px;
}

body, div, th, td, p, ul, ol, dl, dt, dd, img, h1, h2, h3, h4, h5, h6, footer, header, nav, p, section, span, figure {
    margin: 0px;
    overflow-wrap: break-word;
    padding: 0px;
    word-break: normal;
    font-family: "nintendo_ext_003", "nintendo_udsgr_std_003";
}

img, svg {
    opacity: 0;
}

img.question-icon:not(.toggle) {
    /* Fade icons slightly */
    opacity: 0.75;
}

span {
    letter-spacing: 0.01px;
}

ul, ol {
    list-style-type: none;
}