@charset "utf-8";

/* Layout */
.l-bg {
  background: url('../img/bg_default.webp');
}

.l-one-column {
  padding: 85px 150px 500px;
  opacity: 0;
}

/* 下端用 */
.l-qa:last-child .qa {
  margin-bottom: 49px;
}

.l-qa:last-child .qa.is-opened {
  margin-bottom: -62px;
}

.l-qa:last-child .qa.is-opened:lang(ja) {
  margin-bottom: -76px;
}

.l-qa:last-child .qa.is-opened:lang(de) {
  margin-bottom: -118px;
}

.l-qa:last-child .qa.is-opened:lang(es) {
  margin-bottom: -90px;
}

.l-qa:last-child .qa.is-opened:lang(nl) {
  margin-bottom: -90px;
}

.l-qa:last-child .qa.is-opened:lang(ru) {
  margin-bottom: -90px;
}

.l-qa:last-child .qa.is-opened:lang(ko) {
  margin-bottom: -64px;
}

.l-qa:last-child .qa.is-opened:lang(zh-tw) {
  margin-bottom: -34px;
}

.l-qa:last-child .qa.is-opened:lang(zh-cn) {
  margin-bottom: -34px;
}

/* Module */

.qa {
  display: block;
  will-change: scroll-position;
}

.qa.is-focused {
  background: linear-gradient(90deg, rgb(255, 109, 0) 0%, rgb(255, 255, 0) 65%, rgb(255, 109, 0) 70%);
  background-size: 200% 100%;
  transform: none;
  will-change: animation;
}

@keyframes translate-anim {
  0% {
    transform: translate3d(0, 0, 0);
  }
}

.qa.is-opened.is-focused {
  animation: translate-anim 1ms linear 480ms 1 normal forwards;
}

/* question */
.question-outer {
  position: relative;
  height: 86px;
}

.is-opened .question-outer {
  /* border分だけ小さくなる */
  height: 80px;
}

.question-border::before {
  position: absolute;
  content: '';
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #2e3c45;
  box-shadow: 3px 3px 3px rgba(24, 24, 24, 0.5);
}

.is-focused .question-border::before {
  background: #000000;
  box-shadow: none;
}

.is-opened .question-border::before {
  background: #000000;
  bottom: 0px;
}

.question {
  position: absolute;
  top: 11px;
  left: 11px;
  right: 28px;
  bottom: 11px;
  background: #d9e4ea;
  display: flex;
  align-items: center;
  padding: 0px 30px 0px 94px;
}

.question::before {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 76px;
  background: #000000;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 64px 100%, 0% 100%);
}

.is-opened .question {
  bottom: 5px;
}

.question-icon {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 0px;
  width: 60px;
  height: 60px;
  transition: opacity 0.2s ease;
}

.question-message {
  font-size: 23px;
  color: #2b3940;
  z-index: 0;
  width: 100%;
}

.question-message span {
  display: block;
  letter-spacing: normal;
}

.question-message:lang(ja) {
  font-size: 25px;
  line-height: 1.7;
}

.question-message:lang(ko) {
  font-size: 25px;
}

.question-message:lang(zh-cn) {
  font-size: 25px;
}

.question-message:lang(zh-tw) {
  font-size: 25px;
}

.question-message ruby {
  vertical-align: -0.05em;
  text-align: center;
}

.question-message rb {
  display: table-footer-group;
  line-height: 0.85em;
}

.question-message rt {
  font-size: 11px;
  display: table-cell;
  letter-spacing: -0.125em;
  text-indent: -0.125em;
  text-align: center;
  opacity: 0.7;
}

.is-focused .question-message {
  color: #FFFFFF;
  -webkit-text-stroke: 2px #000000;
}

.is-focused .question-message span:nth-child(1) {
  position: absolute;
  display: block;
  width: 817px;
  margin-left: 2px;
  margin-top: 2px;
  color: #000000;
  z-index: -1;
}

.is-focused .question-message span::after {
  display: inline-block;
  content: '';
  transform: translate3d(0, 0, 0);
}

.is-focused .question-message rt {
  -webkit-text-stroke: initial;
}

.is-focused .question-message span:nth-child(1) rt {
  visibility: hidden;
}

/* answer */
.answer-border-inner {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

.answer {
  position: relative;
  display: block;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right 0% bottom 0%;
  border-left: 5px solid #000000;
  border-bottom: 5px solid #000000;
  border-right: 22px solid #000000;
  padding: 18px 0px 17px;
  color: #181818;
  box-shadow: 3px 3px 3px rgba(24, 24, 24, 0.5);
}

.is-focused .answer {
  box-shadow: none;
}

.answer-set {
  display: flex;
  justify-content: space-between;
  padding: 5px 0px;
}

.answer-set-one-item {
  padding: 5px 0px;
}

.answer-message-wrapper {
  flex: 1;
  margin: 0px 30px 0px 47px;
}

.answer-message-wrapper-one-item {
  margin: 0px 30px 0px 47px;
}

.answer-message-before-after {
  margin-right: 31px;
}

.answer-image-wrapper {
  text-align: center;
  margin-right: 47px;
}

.answer-message {
  font-size: 23px;
  white-space: pre-wrap;
  margin-bottom: 5px;
}

.answer-message span {
  display: block;
  letter-spacing: normal;
}

.answer-message:lang(ja) {
  margin-top: -6px;
}

.answer-message ruby {
  vertical-align: 0em;
  text-align: center;
}

.answer-message rb {
  display: table-footer-group;
  line-height: 0.8em;
}

.answer-message rt {
  font-size: 9px;
  display: table-cell;
  letter-spacing: -0.1em;
  text-indent: -0.1em;
  text-align: center;
  opacity: 0.7;
}

.answer-message .key {
  display: inline-block;
  transform: translateY(1px);
  font-size: 25px;
}

.answer-message:lang(ko) .key {
  transform: translateY(2.7px);
}

.answer-message:lang(zh-cn) .key {
  transform: translateY(1.5px);
}

.answer-message:lang(zh-tw) .key {
  transform: translateY(2px);
}

.long-text rt {
  transform: translate3d(0, 0, 0);
}

.answer-attention {
  margin-top: 10px;
  font-size: 19px;
  white-space: pre-wrap;
}

.answer-attention:lang(ja) {
  margin-bottom: 10px;
}

.answer-attention span {
  display: block;
  letter-spacing: normal;
}

.answer-attention ruby {
  vertical-align: 0em;
  text-align: center;
}

.answer-attention rb {
  display: table-footer-group;
  line-height: 0.8em;
}

.answer-attention rt {
  font-size: 8px;
  display: table-cell;
  letter-spacing: -0.125em;
  text-indent: -0.125em;
  text-align: center;
  opacity: 0.7;
}

.screen-shot-before-after-wrapper {
  position: relative;
  width: 430px;
  height: 290px;
}

.screen-shot {
  width: 272px;
  height: 153px;
  border: 5px solid #000000;
}

.screen-shot-before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 229px;
  height: 129px;
}

.screen-shot-after {
  position: absolute;
  top: 120px;
  right: 0px;
}

.screen-shot-fighterhandicap {
  width: 292px;
  height: 140px;
}

.screen-shot-relation {
  width: 250px;
  height: 155px;
}

.screen-shot-clear-adventure {
  width: 272px;
  height: 194px;
}

.screen-shot-spirits-abstract {
  width: 230px;
  height: 113px;
}

.arrow {
  position: absolute;
  top: 120px;
  left: 110px;
  width: 90px;
}

.screen-shot-change-stage-wrapper {
  position: relative;
  padding-top: 15px;
  padding-left: 72px;
}

.zoom-in-last-stop {
  position: absolute;
  top: 0px;
  left: 0px;
}

.screen-shot-change-bgm-wrapper {
  position: relative;
  padding-top: 10px;
  padding-left: 34px;
}

.zoom-in-orekyoku {
  position: absolute;
  top: 0px;
  left: 0px;
}

.screen-shot-clear-adventure-wrapper {
  position: relative;
  padding-left: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.zoom-in-clear-adventure-advantage {
  position: absolute;
  top: -15px;
  left: 0px;
}

.zoom-in-clear-adventure-weak {
  position: absolute;
  top: 148px;
  left: 3px;
}

.screen-shot-gold-wrapper {
  position: relative;
  padding-right: 67px;
}

.zoom-in-gold {
  position: absolute;
  bottom: 22px;
  right: 0px;
}

.label-wrapper {
  position: relative;
  width: 294px;
  height: 171px;
}

.label-screen-shot-wrapper {
  position: absolute;
  top: 2px;
  left: 22px;
}

.attack-label-wrapper {
  position: absolute;
  top: -10px;
  left: 36px;
  width: 148px;
}

.attack-label-wrapper:lang(de) {
  width: 149px;
}

.attack-label-wrapper:lang(it) {
  width: 149px;
}

.throw-label-wrapper {
  position: absolute;
  left: -18px;
  bottom: 0px;
  width: 145px;
}

.throw-label-wrapper:lang(it) {
  width: 146px;
}

.defence-label-wrapper {
  position: absolute;
  left: 93px;
  bottom: 0px;
  width: 147px;
}

.defence-label-wrapper:lang(it) {
  width: 146px;
}

.null-label-wrapper {
  position: absolute;
  top: 62px;
  left: 160px;
  width: 149px;
}

.label {
  text-align: center;
  font-size: 16px;
  letter-spacing: normal;
}

/* Thema */
.header-decoration {
  background: #a80114;
}

@keyframes header-decoration-anim {
  0% {
    background-color: #fe6175;
  }
  42% {
    background-color: #fe6175;
  }
  100% {
    background-color: inherit;
  }
}

.ret-icon path {
  fill: #f46264;
}

.ret-icon-shadow path {
  fill: #70000a;
}

.header-title {
  color: #f46264;
}

/* scuffle */
.question.scuffle-thema path {
  fill: #f46264;
}

.question.scuffle-thema rect {
  fill: #f46264;
}

.question.scuffle-thema polygon {
  fill: #f46264;
}

.is-focused .question.scuffle-thema {
  background: #df1624;
}

.answer.scuffle-thema {
  background-image: url('../img/bg_dot_scuffle.webp');
}

/* spirits */
.question.spirits-thema path {
  fill: #40c970;
}

.question.spirits-thema rect {
  fill: #40c970;
}

.question.spirits-thema polygon {
  fill: #40c970;
}

.is-focused .question.spirits-thema {
  background: #009a36;
}

.answer.spirits-thema {
  background-image: url('../img/bg_dot_spirits.webp');
}

/* outgame */
.question.outgame-thema path {
  fill: #46bafd;
}

.question.outgame-thema rect {
  fill: #46bafd;
}

.question.outgame-thema polygon {
  fill: #46bafd;
}

.is-focused .question.outgame-thema {
  background: #0085f5;
}

.answer.outgame-thema {
  background-image: url('../img/bg_dot_outgame.webp');
}

/* collection */
.question.collection-thema path {
  fill: #e46aa3;
}

.question.collection-thema rect {
  fill: #e46aa3;
}

.question.collection-thema polygon {
  fill: #e46aa3;
}

.is-focused .question.collection-thema {
  background: #e82c98;
}

.answer.collection-thema {
  background-image: url('../img/bg_dot_collection.webp');
}

/* palette */
.question.palette-thema path {
  fill: #5ec4c8;
}

.question.palette-thema rect {
  fill: #5ec4c8;
}

.question.palette-thema polygon {
  fill: #5ec4c8;
}

.is-focused .question.palette-thema {
  background: #11bcc1;
}

.answer.palette-thema {
  background-image: url('../img/bg_dot_palette.webp');
}

.is-focused .question path {
  fill: #ffffff;
}

.is-focused .question rect {
  fill: #ffffff;
}

.is-focused .question polygon {
  fill: #ffffff;
}
